<div class="slider">
<div class="overlay">
<div class="head-text">
  
  <div class="text-center">
    <h2>Wein dort kaufen, wo er am günstigsten ist</h2>
    <p class="lead">Vergleiche das Angebot von über 80 Shops mit mehr als 9000 Weinen</p>
  </div>
  
</div><!-- /.container -->

 

       
    
    <div class="jumbotron">
        
<!--        <video loop autoplay muted poster="#" id="bgvid" playsinline autoplay muted>-->
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<!--<source src="http://media.istockphoto.com/videos/choosing-wine-video-id519351126" type="video/mp4">-->
<!--</video>-->
    <div class="container">
        
        
        
        <div class="search">
        <h1>Wein Günstig Kaufen</h1>
     <div class="formwrapper">
              <%= form_tag root_path, :method => 'get' do %>
              <div class="input-group">
                     
                     <%= text_field_tag :search, params[:search],  class:"form-control", placeholder: "Suchen", data: {autocomplete_source: @data} %>
                      <span class="input-group-btn"><%= submit_tag "Suchen", class: "btn btn-primary" %></span>
      
       <script>
  var src =  $('#search').data('autocomplete-source')
  $( function() {
    
    $( "#search" ).autocomplete({
      
      source: function(request, response) {
        var results = $.ui.autocomplete.filter(src, request.term);
        
        response(results.slice(0, 10));
    }
    });
  } );
  
  
 
  </script>



        


 
        

        
        
              </div>
     </div>
    <div class="controls">
     
<%= form_tag("filter", :id => "filter_form", :method => "post") do %>
<label for="kategorie" class="kategorie">Kategorie:</label> <%=  select_tag :category,
      options_for_select(Bottle.pluck(:category).uniq.sort_by!{ |e| e.downcase }, params[:category]),
      { include_blank: 'Alle Kategorien' }%>
  <label for="country" class="country">Herkunft:</label> <%=  select_tag :country,
      options_for_select(Bottle.pluck(:country).uniq.sort_by!{ |e| e.downcase }, params[:country]),
      { include_blank: 'Alle Länder' }%>
  <label for="grape" class="grape">Rebsorte:</label> <%=  select_tag :grape,
      options_for_select(Bottle.pluck(:grape).uniq.sort_by!{ |e| e.downcase }, params[:grape]),
      { include_blank: "Alle Rebsorten" }%>

  
 <script>
  $(document).ready(function() {
    $('#country').change(function() {
        var category_na = $("#category option:selected").text();
        $.ajax({
           url: "<%= update_text_path %>",
           data: {
               country_name: $("#country option:selected").text(), category_name: category_na
           },
           dataType: "script"
        });
        
        
       
    });
    
    
    
    $('#category').change(function() {
        var country_name  = $("#country option:selected").text();
        $.ajax({
           url: "<%= update_category_path %>",
           data: {
               category_name: $("#category option:selected").text(), country_name: country_name
           },
           dataType: "script"
        });
    });
  });
</script>   
        
        <label for="quantity">Menge</label>
        <%= select_tag :quantity, options_for_select(1..50, params[:quantity]) %>
        <%= form_tag root_path, :method => 'get' do %>
       <div class="btn btn-primary btn-xs", id="clear">Clear</div>
        <% end %>
        <% end %>
<% end %>
    </div>
    <div class="pages">
     <ul class="pagination">
                <%= paginate @flaschen ,:window => 2 %>
          </ul>
     </div>
    </div>
   </div>
    </div>
</div>
</div>
    
    
<% if @flaschen.empty? %>
<div class="search-field">
    <div class="nothing-found">
       <span><p>Ihre Suche nach "<%=params[:search]%>" führte leider zu keinem Ergebnis </p></span> 
    </div>
</div>

<% else %>
    <div class="search-field">
         <% @flaschen.each do |products| %>
                <a href=<%= products.product_url %>>
                    <%end%>
    
    
                 <% @flaschen.each_slice(6) do |products| %>
                    <div class="row">
                          <% products.each do |product| %>
                        <div>
                            <a href=<%= product.product_url %> title="<%= product.name %>">
                        <div class="col-lg-2 col-sm-4 col-xs-6 col-md-4">
                            <div class="thumbnail">
                                <%= image_tag(product.image_url, class: 'list_image', size: '160x220', alt: product.name) %>
                                <div class="logo-div"><%= image_tag(Shop.find(product.shop_id).shop_logo, class: 'shop-logo', size: '160x220', alt: 'shop logo') %></div>
                                <div class="caption">
                                 <!--<h4 class="pull-right">$24.99</h4>-->
                                   <div class="product-name"><p> <%= product.name %></p></a></div>
                                   <div class="price"><p><%= '%.2f' % product.price  %>€</p></div>
                                   <div class="price-calculation"><p>
                                       
                                <%-# Berechnung vom Gesamtpreis -%>
                                   <% 
                                   
                                    bottle = Shop.find(product.shop_id)
                                    menge = params[:quantity]
                                    menge = menge.to_i
                                    versandkosten = bottle.versandkosten
                                    if menge != nil
                                        first_price = menge * product.price
                                        if bottle.mengenrabatt != nil
                                           if menge >= bottle.mengenrabatt_menge 
                                               calc_mengenrabatt = first_price * bottle.mengenrabatt
                                           else
                                            calc_mengenrabatt = 0
                                           end
                                        else
                                            calc_mengenrabatt = 0 
                                        end
                                        if bottle.verpackungsrabatt_menge != nil 
                                            if menge >=  bottle.verpackungsrabatt_menge 
                                                calc_verpackungsrabatt = first_price * bottle.verpackungsrabatt
                                            else
                                            calc_verpackungsrabatt = 0
                                            end
                                            
                                        else
                                            calc_verpackungsrabatt = 0
                                        end
                                        
                                        if bottle.versandkostenfrei_ab_betrag != nil and !bottle.versandkosten.nil? and !bottle.versandkostenfrei_ab_betrag.nil?
                                           if  first_price > bottle.versandkostenfrei_ab_betrag 
                                               versandkosten = 0
                                           end
                                        else
                                            versandkosten = bottle.versandkosten
                                        end
                                        if versandkosten.nil?
                                            versandkosten = 0
                                        end
                                        fin_preis = first_price + versandkosten #- calc_mengenrabatt#- #calc_verpackungsrabatt
                                    end%>

                                <% if params[:quantity] != 0 %>
                                 <table style="width:100%">
                                              <tr>
                                                <th>Information</th>
                                                <th></th>
                                              </tr>
                                              <tr>
                                                <td>Jahrgang:</td>
                                                <%if product.vintage != nil%>
                                                <td><%= product.vintage %></td>
                                                <%else%>
                                                <td>N/A</td>
                                                <%end%>

                                              </tr>
                                               <tr>
                                                <td>Rebsorte:</td>
                                                <%if product.grape != nil%>
                                                <td><%= product.grape %></td>
                                                <%else%>
                                                <td>N/A</td>
                                                <%end%>

                                              </tr>
                                              <tr>
                                                <td>Land:</td>
                                                <%if product.country != nil%>
                                                <td><%= product.country %></td>
                                                <%else%>
                                                <td>N/A</td>
                                                <%end%>

                                              </tr>
                                              <tr>
                                                <td>Inhalt:</td>
                                                <%product.inhalt.gsub("Flaschen", "") %>
                                                <td><%= product.inhalt %></td>
                                              </tr>
                                              <tr>
                                                <td>€/L:</td>
                                                <%product.price_per_litre_string.gsub!("/", "") %>
                                                <%product.price_per_litre_string.gsub!("L", "") %>
                                                <%product.price_per_litre_string.gsub!("EUR", "") %>
                                                <%product.price_per_litre_string.gsub!("€", "") %>
                                                <%product.price_per_litre_string.gsub!("1l", "") %>
                                                <td><%= product.price_per_litre_string %>€</td>
                                              </tr>
                                            </table> 
                                
                                
                                    <div><p>Menge: 
                                    <%=params[:quantity]%></p></div>
                                    <div><p>Versandkosten:<%='%.2f' %versandkosten%>€</p></div>
                                    <div><p>Gesamtpreis: <%= '%.2f' % fin_preis%>€</p></div>
                                        
                                <%end%></p></div>
                                    
                                   
                                    
                                    
                                </div>
                               </div>
                            </div>
                        </div>
        <%end%>
                      </div>
                        <%end%>
                    </div>
<%end%>
