
<%= form_for @search, html: {class:"pure-form"} do |s| %>


<div class="field">
    <%= s.label :keywords %><br/>
     <%= s.text_field :keywords %>
</div>

<div class="field">
    <%= s.label :category %><br/>
     <%= s.select :category, options_for_select(@categories), :include_blank => true %>
</div>

<div class="field">
    <p><%= s.label :min_price, "Minimum Preis" %> - <%= s.text_field :min_price, size:10 %></p>
    <p><%= s.label :max_price, "Maximum Preis" %> - <%= s.text_field :max_price, size:10 %></p>
    
</div>

<div class="field">
    <p><%= s.label :vintage, "Jahrgang" %> - <%= s.text_field :vintage, size:10 %></p>
    
</div>

<div class="actions">
    <p><%= s.submit "Suchen", class: "pure-button pure-button-primary" %>
</div>

<p><%= link_to "Zurück", root_path %></p>
<%end %>